
@import './_vars.scss';
@import './_mixins.scss';

body {
    @include type--default();
    font-family: "Gotham A","Gotham B",Arial,sans-serif;
}

.type--mono {
    @include type--mono();
}

.page-enter-active, .page-leave-active {
    transition: opacity .2s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }


pre[class*="language-"]:before,
pre[class*="language-"]:after {
  box-shadow: 0px 8px 10px #979797;
}
